body {
  height: 100vh;
  background-color: rgba(10, 160, 145, 0.5);
}
ul {
  list-style: none;
  display: inline;
}
div {
  position: relative;
  display: flex;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.todo-container:hover {
  background-color: rgba(112, 128, 144, 0.582);
  cursor: default;
  width: fit-content;
  border-radius: 3px;
}
button {
  cursor: pointer;
  font-weight: bold;
}
#priority-selector {
  cursor: pointer;
}
