body {
  height: 100vh;
  background: rgb(217, 171, 42);
  background: linear-gradient(
    90deg,
    rgba(145, 113, 28, 0.815) 9%,
    rgba(119, 85, 4, 0.788) 49%,
    rgba(88, 68, 16, 0.671) 85%
  );
  text-align: center;
}
#main {
  margin-left: auto;
  margin-right: auto;
  background: url(./background_img.jpg);
  background-size: 800px 1350px;
  border: 1px solid rgb(34, 31, 21);
  border-radius: 10px;
  width: 800px;
}
#controlSection {
  border-bottom: 3px solid rgb(46, 44, 44);
  width: 650px;
  margin-left: 75px;
  padding-bottom: 5px;
}
#viewSection {
  position: relative;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 {
  font-size: 80px;
  font-family: cursive;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 20px;
}
ul {
  list-style: none;
  display: inline;
}
div {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: fit-content;
}
.count {
  margin-left: 210px;
  font-size: 30px;
  font-weight: 600;
  font-family: Courier, cursive;
  cursor: default;
}
#counter {
  font-size: 40px;
  margin-bottom: 5px;
  padding: 1px;
}
.todo-container {
  font-family: Courier, cursive;
  font-weight: 550;
}
.todo-container:hover {
  background-color: rgba(112, 128, 144, 0.582);
  cursor: default;
  width: 600px;
  border-radius: 3px;
}
div .todo-priority {
  font-weight: bold;
  font-size: 30px;
  padding: 0;
  padding-left: 10px;
}
.priority {
  width: 70px;
  margin-left: 310px;
  font-size: 20px;
  font-weight: bold;
}
#priority-selector {
  content: "\f13a";
  font-family: FontAwesome;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  margin-top: 7px;
  background-color: rgb(184, 158, 110);
  color: black;
  padding: 12px;
  width: 120px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.411);
  -webkit-box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.397);
  -moz-box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.322);
}
#priority-selector:hover {
  color: black;
  background-color: rgba(66, 59, 59, 0.822);
}
#priority-selector option {
  background-color: #b7deee;
}
/*--- final date select ---*/
#final-date {
  cursor: text;
  font-weight: bold;
  width: 170px;
  height: 40px;
  font-size: 18px;
  border-radius: 3px;
  background-color: rgba(119, 127, 136, 0.637);
}
.label {
  font-weight: bold;
  font-size: 20px;
}
/*--- css for the buttons ---*/
button {
  cursor: pointer;
  font-weight: bold;
  font-family: monospace;
  border-radius: 3px;
  margin: 2px;
}
#add-button {
  background-color: #b7deee;
  padding: 5px;
  font-size: 22px;
  margin-right: 0;
  margin-left: 10px;
  border: none;
  box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.425);
  -webkit-box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.363);
  -moz-box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.397);
}
#add-button:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(66, 59, 59, 0.822);
}
#search-button {
  padding: 3px;
  background-color: #b7deee;
  font-size: 22px;
  margin-right: 0;
  margin-left: 10px;
  border: none;
  box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.425);
  -webkit-box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.363);
  -moz-box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.397);
}
#search-button:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(66, 59, 59, 0.822);
}
#sort-button {
  background-color: rgb(184, 158, 110);
  font-size: 25px;
  margin-left: 0;
  margin-bottom: 5px;
  border: none;
  padding: 5px;
  box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.466);
  -webkit-box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.411);
  -moz-box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.37);
}
#sort-button:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(66, 59, 59, 0.822);
}
#undo-button {
  background-color: rgb(184, 158, 110);
  font-size: 25px;
  margin-left: 0;
  margin-bottom: 5px;
  border: none;
  padding: 5px;
  box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.466);
  -webkit-box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.411);
  -moz-box-shadow: 5px 2px 16px 5px rgba(0, 0, 0, 0.37);
}
#undo-button:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(66, 59, 59, 0.822);
}
.delete-button {
  background-color: rgba(88, 84, 84, 0.623);
  width: 40px;
  font-size: 20px;
}
.delete-button:hover {
  background-color: rgba(109, 11, 11, 0.856);
  color: white;
}
#text-input {
  padding: 3px;
  font-size: 17px;
  border: 8px inset #a58b46;
  box-shadow: 0px 0px 5px 0px rgba(42, 42, 42, 0.75);
  font-weight: 300;
  font-family: monospace, Andale;
  font-style: none;
  width: 400px;
}
#text-input:focus {
  outline: none;
}
#text-input:hover {
  box-shadow: -4px -5px 60px -12px rgba(0, 0, 0, 0.42) inset;
  -webkit-box-shadow: -4px -5px 60px -12px rgba(0, 0, 0, 0.42) inset;
  -moz-box-shadow: -4px -5px 60px -12px rgba(0, 0, 0, 0.42) inset;
}
.checkbox {
  cursor: pointer;
  -ms-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -webkit-transform: scale(2.5);
  -o-transform: scale(2.5);
  transform: scale(2.5);
  padding: 10px;
  margin-left: 10px;
  margin-top: 14px;
}
.checkbox:hover {
  box-shadow: -1px -1px 43px 14px rgba(0, 0, 0, 0.55) inset;
  -webkit-box-shadow: -1px -1px 43px 14px rgba(0, 0, 0, 0.55) inset;
  -moz-box-shadow: -1px -1px 43px 14px rgba(0, 0, 0, 0.55) inset;
}
input[type="checkbox"]:checked {
  box-shadow: 0 0 0 1px#b7deee;
}
#loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-top: 40px;
  margin-left: 240px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#footer {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: cursive;
  height: 30px;
}
.footer-text {
  height: 30px;
  margin-bottom: 20px;
}
/* Responsive design */
@media screen and (max-width: 960px) {
  body {
    width: 758px;
    overflow: hidden;
  }
  #main {
    margin-left: auto;
    margin-right: auto;
  }
  #viewSection {
    width: 100%;
    height: 100vh;
  }
}
@media screen and (max-width: 758px) {
  body {
    width: 100%;
  }
  #main {
    margin-left: auto;
    margin-right: auto;
  }
  #viewSection {
    height: 100vh;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  body {
    max-width: 480px;
    width: auto;
    margin: 20px;
  }
  #main {
    margin-left: auto;
    margin-right: auto;
  }
  #viewSection {
    width: 95%;
    padding: 4%;
  }
}
